/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 12px;
  }
  
  body {
    margin: 20px 0;
    padding: 0;
    font-family: arial, sans-serif;
    overflow: scroll;
  }
  
  img {
    max-width: 100%;
    vertical-align: middle;
    border-radius: 4px;
  }
  
  a {
    text-decoration: none;
    color: #333333;
  }
  
  a:hover {
    color: #f58551;
  }
  
  button {
    background-color: #16cc9b;
    border: 2px solid #16cc9b;
    color: #ffffff;
    transition: all 0.25s linear;
    cursor: pointer;
  }
  
  button::after {
    position: relative;
    right: 0;
    content: " \276f";
    transition: all 0.15s linear;
  }
  
  button:hover {
    background-color: #f58551;
    border-color: #f58551;
  }
  
  button:hover::after {
    right: -5px;
  }
  
  button:focus {
    outline: none;
  }
  
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  input {
    transition: all 0.25s linear;
  }
  
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
  
  input {
    outline: none;
  }
  
  .container {
    width: 90%;
    margin: 0 auto;
    overflow: auto;
  }
/* --- SMALL SCREEN --- */
@media all and (max-width: 599px) {
    .thumbnail img {
      display: none;
    }
  
    .quantity > input {
      width: 40px;
      height: 40px;
      left: calc(50% - 20px);
    }
  
    .remove svg {
      width: 40px;
      height: 40px;
    }
  }
  
  /* --- MEDIUM & LARGE SCREEN --- */
  @media all and (min-width: 600px) {
    html {
      font-size: 14px;
    }
  
    .container {
      width: 75%;
      max-width: 960px;
    }
  
    .thumbnail,
    .detail {
      float: left;
    }
  
    .thumbnail {
      width: 35%;
    }
  
    .detail {
      width: 65%;
    }
  
    .promotion,
    .summary {
      width: 50%;
    }
  
    .checkout {
      width: 100%;
    }
  
    .checkout,
    .summary {
      text-align: right;
    }
  }
  
  /* --- LARGE SCREEN --- */
  @media all and (min-width: 992px) {
    html {
      font-size: 16px;
    }
  }
  
